/* Reset default styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* body Styles */
body {
    font-family: 'Poppins', sans-serif;
    background: linear-gradient(to bottom, #142850, #27496d, #00909e);
    color: white;
    display: flex;
    padding: 20px;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    overflow-x: hidden;
    flex-direction: column;
}

.container {
    width: 100%;
    max-width: 600px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 20px;
    text-align: center;
}